@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
    margin: 0;
    padding: 0;
}
body { 
    height: 100 vh;
    box-sizing: border-box;
    background-color: black;
    color: #F6F6F6;
}
.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo{
    font-family: 'Krona One', sans-serif;  
    font-size: 36px;  
}
.apresentacao__conteudo__texto{
    font-family: 'Monteserrat',sans-serif ;
    font-size: 24px;
    text-align: justify;
}
 .apresentacao__links{
    display: flex;  
    justify-content: space-between;
 }
 .apresentacao__links__link{
    background-color: #22D4FD;  
    width: 280px;
    text-align:center;
    border-radius: 16px;   
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: black #000000;
    font-family: 'Monteserrat',sans-serif;
 }
 .apresentacao__imagem{
    display: flex;
    width: 350px;
    height: 400px;
    background-image: url(https://user-images.githubusercontent.com/130720402/232155604-0a33db9f-b80d-4966-8f71-43635ce7d8f4.jpg);
 }
